
@font-face {
    font-family: 'museo_slab100';
    src: url('museo_slab_100-webfont.eot');
    src: url('museo_slab_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo_slab_100-webfont.woff2') format('woff2'),
         url('museo_slab_100-webfont.woff') format('woff'),
         url('museo_slab_100-webfont.ttf') format('truetype'),
         url('museo_slab_100-webfont.svg#museo_slab100') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  background-color: #0C808B;
  font-family: 'museo_slab100';
}
#header {
  text-align: center;
  background: url('header-texture.png');
  padding: 7vw 0;
}
#header h1 {
  font-size: 13vw;
  color: white;
  margin: 0 0 3vw 0;
  font-weight: normal;
}
#header b {
  color: black;
  font-weight: normal;
}
#header p {
  font-size: 6vw;
  color: #FF978F;
  margin: 0;
}
#main {
  padding: 0vw;
}
#main button {
  background-color: #63B3BD;
  color: white;
  border: none;
  font-size: 7vw;
  -moz-box-shadow:    2px 2px 5px 0px #000;
  -webkit-box-shadow: 2px 2px 5px 0px #000;
  box-shadow:         2px 2px 5px 0px #000;
  padding: 3vw 14vw;
  text-transform: uppercase;
  margin-bottom: 5vw;
}
#main button[disabled] {
  opacity: .7;
}
#main .vote .title {
  color: white;
  font-size: 9vw;
  margin: 7vw;
}
#main .vote {
  text-align: center;
}

.white-popup {
  position: relative;
  background: #0C808B;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  height: 400px;
}